.personCard{
  border: 1px solid grey;
  min-width: 400px;
  max-width: 400px;

}

.personList {
  display: flex;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex-wrap: wrap;
}

.username, .label {
  font-size: 25px;
}
.label {
  color: grey;
}

.username{
  font-weight: bold;
}